<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Datos de interés</title>
            <!-- Estilos CSS -->
        <link rel="stylesheet" href="/css/estilos4.css">
            <!--FAVICON-->
        <link rel="icon" href="../favicon.png" type="image/png">
    </head>
    <body>
        <header>
            <h1><img src="../images/logo.png" alt="logo" height="120" width="120">Protectora Corazones Contentos<img src="../images/logo.png" alt="logo" height="120" width="120"></h1>
        </header>
            <!-- Navigation Bar -->
            <nav>
                <a href="../views/Galeria.html">Galeria</a>
                <a href="../views/DatodeIntererés.html">Dato de intererés</a>
                <a href="../views/Contacto.html">contacto</a>
 
            </nav>
            <br>
        Nombre: <input type="text" name="nombre" id="nombre" value=""><br> <br>

        Email: <input type="password" name="Email" ><br> <br>

        Teléfono: <input type="text" name="Teléfono" id="direccion" value=""><br> <br>

        <br><br>
        
        Solicite más información: <br>
        <textarea cols="30" rows="15" name="prueba"></textarea> <br><br>

        <input type="submit" name="boton" value="Enviar consulta">
        
        <input type="reset" name="boton" value="Borrar formulario" >   
    </body>
</html>